@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-white text-gray-900;
  }
  input[type="text"]:focus,
  select:focus {
    box-shadow: none;
  }

  select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
  }

  select::-ms-expand {
    display: none;
  }
}
